<style>


  .container {
    max-width: 720px;
    margin: 40px auto;
    padding: 0 16px;
  }

  .page-title {
    text-align: center;
    color: #333;
    margin-bottom: 0;
    font-size: 2rem;
  }

  
</style>

<div class="container">
  <h1 class="page-title">Sign Up</h1>
  <%= render 'form' %>
</div>
