<% if obj && obj.errors.any? %>
  <div class="alert error-box">
    <h3 class="alert-heading">Oops! Please fix the following errors <%=obj.class.name.downcase %>:</h3>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>